.Die {
  display: inline-block;
  padding: 0em;
  background-color: red;
  color: white;
  margin-right: 1em;
  border-radius: 20px;
  border: 0px;
  outline:none;
}

.Die-locked {
  background-color: darkred;
}

.Die-image {
  width: 150px;
}