.Game-reroll {
  margin-top: 1em;
  font-size: 1.5em;
  border-radius: 0.2em;
}

.Game-reroll:hover {
  background-color: pink;
}

.Game-flash {
  background-color: rebeccapurple;
  animation-name: colorChange;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes colorChange {
  from {background-color: peachpuff;}
  to {background-color: rebeccapurple;}
}